.git
**/.DS_Store
.gitignore
README.md
.vscode
.credo.exs
_build
.elixir_ls
deps
assets/node_modules
priv/static
rel/
Dockerfile
.dockerignore
docker-compose.yml
.semaphore-cache
.formatter.exs
cloudbuild.yaml
coveralls.json
cover/
erl_crash.dump

