<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= render "_ga.html", conn: @conn %>

    <title>Hello Platform!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render "_navigation.html", conn: @conn %>
    <div class="container pt-4 pb-5">
      <%= render "_flash_messages.html", conn: @conn %>
      <%= render "_breadcrumb.html", conn: @conn %>

      <main role="main">
        <%= content_tag :h1, page(@conn)[:headline] || page(@conn)[:title], class: "page-header" %>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <%= render "_newsletter.html", conn: @conn %>
    <%= render "_footer.html", conn: @conn %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script id="dsq-count-scr" src="//audioslides-io.disqus.com/count.js" async></script>
  </body>
</html>
