<div class="hover-zoom-cards row">
    <%= for course <- @courses do %>
      <%= render PlatformWeb.CourseView, "_course.html", conn: @conn, course: course %>
    <% end %>
  </div>


<%= if can?(@conn, :delete, Course) do %>
  <%= link "New Course", to: course_path(@conn, :new), class: "btn btn-primary" %>
<% end %>
