.hover-zoom-cards {
  .card {
    overflow: hidden;
    border: none;
    .card-image {
      overflow: hidden;
      img {
        filter: #{ "grayscale(1)" };
        transition: all .5s ease 0s;
      }
      // Light Box is activated on hover
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: all .3s ease .1s;
        background-color: rgba(255,255,255,.8);
        opacity: 0;
      }
    }
    .card-body {
      transition: all .5s ease 0s;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      color: #3b3b3b;
      opacity: 0;
    }

    &:hover {
      .card-image {
        &:after {
          opacity: 1;
        }
      }
      img {
        filter: #{ "grayscale(0)" };
        transform: scale(1.55, 1.55);
      }
      .card-body {
        transform: scale(1.2, 1.2);
        opacity: 1;
      }
    }
  }
}