/* This file is for your main application css. */

$theme-colors: (
  primary: #5ea1ee,
  secondary: #868e96,
  success: #43ac6a,
  info: #5bc0de,
  warning: #e88002,
  danger: #f04124,
  light: #f8f9fa,
  dark: #343a40
);

$breadcrumb-divider: "›";
$breadcrumb-bg: inherit;
$breadcrumb-padding-y: .30rem;
$breadcrumb-padding-x: 0;
$breadcrumb-active-color: #666;

$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$fa-font-path: "../fonts";

@import "font-awesome";
@import "bootstrap";

@import "codemirror-core";
@import "codemirror-theme";
@import "newsletter";
@import "footer";
@import "breadcrumb";
@import "unsorted_crap";
