<h1>New course lesson</h1>
<%= render "_form.html", Map.put(assigns, :action, course_course_lesson_path(@conn, :create, @course)) %>

<%= if can?(@conn, :show, Exchange) do %>
  <span><%= link "Back", to: course_path(@conn, :show, @course) %></span>
<% end %>
