<br>
<h1 class="lead">
  Collaborative creation of learning materials.
</h1>
<br>

<hr>

<br>

<h2>Latest slides</h2>

<div class="hover-zoom-cards row">
  <%= for lesson <- @lessons do %>
    <%= render PlatformWeb.LessonView, "_lesson.html", conn: @conn, lesson: lesson %>
  <% end %>
</div>
